/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
}
#nav, .subnav{
    list-style-type: none;
}


#nav .subnav a{
    color: black;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px ;
    padding: 0px 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.nav-arrow-down{
    font-size: 14px;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}

#header .search-btn{
    color: blanchedalmond;
    float: right;
    line-height: 46px;
    padding: 0px 21px;
}
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon{
    
}

#slider{
    position: relative;
    margin-top: 0px;
    padding-top: 50%;
    background: url('/Dự án w3_band/assets/img/slide/slide1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 0px 10px 10px;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content{

}

#footer{

}
